<a-scene background="color: #FAFAFA">
  <a-assets>
    <img id="lacework" src="assets/img/lacework-logo.png">
    <img id="aws" src="assets/img/aws-logo.png">
    <img id="sky" src="assets/img/cloud.png">
  </a-assets>
  <a-entity camera look-controls cursor="rayOrigin: mouse" position="0 1.5 0"></a-entity>
  <a-text position="2 2 -1.1" value="Build Num" color="black" anchor="center"></a-text>
  <a-image position="-1 1.2 -2" src="#aws" animation="property: rotation; to: 0 360 0; dur: 7000; easing: linear; loop: true"></a-image>
  <a-image position="1 1.2 -2" src="#lacework" animation="property: rotation; to: 0 360 0; dur: 7000; easing: linear; loop: true"></a-image>
  <a-sky src="#sky"></a-sky>
</a-scene>


